*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  color: #824936;
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5em;
}

img {
  width: 100%;
  max-width: 100%;
  align-self: flex-start;
}

.container {
  /* width: 80%; */
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.col {
  width: 100%;
}

.hero {
  min-height: 660px;
  background-color: #f3eed9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.hero-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.about {
  padding: 8em 2em;
}

.about h2 {
  text-align: center;
  color: #824936;
}

.example {
  padding: 7em 2em;
}

.example h2 {
  color: #f3eed9;
}

.example p {
  color: white;
}

.one {
  background-color: #222c2a;
  margin: 0;
}

.two {
  background-color: #824936;
}

@media (max-width: 600px) {
  .row {
    display: block;
  }
}
